<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title>light controller</title>
	
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
	
	<script src="/config.js" ></script>
	<script src="/scripts.js" ></script>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div id="app">    
		<ul class="nav nav-tabs" id="navTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link" :class="{ active: tab == 'day-mode' }" @click="tab='day-mode'" href="#day-mode">Day Mode</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" :class="{ active: tab == 'night-mode' }" @click="tab='night-mode'" href="#night-mode">Night Mode</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" :class="{ active: tab == 'settings' }" @click="tab='settings'" href="#settings">Settings</a>
			</li>
			<li class="nav-item">
				<a v-if="sendingData > 0" class="nav-link disabled" href="#" tabindex="-1">...</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane fade" :class="{ active: tab == 'day-mode', show: tab == 'day-mode'}">
				<module-enabled
					@change="day_L0_save"
					:enabled.sync="day_L0_enabled"
					text="White Light">
				</module-enabled>
				<level-input
					@change="day_L0_save"
					:value.sync="day_L0_level"
					max="1023">
				</level-input>
				<module-enabled
					@change="day_L1_save"
					:enabled.sync="day_L1_enabled"
					text="RGB Light">
				</module-enabled>
				<color-input
					@change="day_L1_save"
					:color.sync="day_L1_color">
				</color-input>
			</div>
			<div class="tab-pane fade" :class="{ active: tab == 'night-mode', show: tab == 'night-mode'}">
				<module-enabled
					@change="night_L0_save"
					:enabled.sync="night_L0_enabled"
					text="White Light">
				</module-enabled>
				<level-input
					@change="night_L0_save"
					:value.sync="night_L0_level"
					max="1023">
				</level-input>
				<module-enabled
					@change="night_L1_save"
					:enabled.sync="night_L1_enabled"
					text="RGB Light">
				</module-enabled>
				<color-input
					@change="night_L1_save"
					:color.sync="night_L1_color">
				</color-input>
			</div>
			<div class="tab-pane fade" :class="{ active: tab == 'settings', show: tab == 'settings'}">
				<h2>Night mode</h2>
				<div class="form-group">
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" name="night_mode_enabled" id="modeTypeAuto" value="0" v-model="night_mode_enabled">
					  <label class="form-check-label" for="modeTypeAuto">auto</label>
					</div>
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" name="night_mode_enabled" id="modeTypeOn" value="1" v-model="night_mode_enabled">
					  <label class="form-check-label" for="modeTypeOn">on</label>
					</div>
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" name="night_mode_enabled" id="modeTypeOff" value="2" v-model="night_mode_enabled">
					  <label class="form-check-label" for="modeTypeOff">off</label>
					</div>
				</div>
				
				<div class="form-group">
					<label for="turn_on_nightMode">Start night mode at:</label>
					<input type="time" class="form-control" id="turn_on_nightMode" v-model="night_mode_start"/>
				</div>
				
				<div class="form-group">
					<label for="turn_off_nightMode">End night mode at:</label>
					<input type="time" class="form-control" id="turn_off_nightMode" v-model="night_mode_end"/>
				</div>

				<div class="form-group">
					<label for="timezone">Timezone:</label>
					<select name="timezone" class="form-control" id="timezone" v-model="timezone">
						<option v-for="n in 27" v-bind:value="(n-13) + ':00'">GMT {{ n-13 }}:00</option>
					</select>
				</div>
				
				<button type="submit" class="btn btn-primary" @click="settings_save">Save</button>
			</div>
		</div>
	</div>
	
	<script src="index.js"></script>
</body>
</html>
